# Database credentials
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_USER=gameuser
MYSQL_PASSWORD=gamepassword

# Mail (thay bằng giá trị thật nếu cần)
MAIL_USERNAME=minhthe0359898246@gmail.com
MAIL_PASSWORD=fkcv ujoi wtax qrua

# Docker image
DOCKER_IMAGE=minhthe2602/escaperoom:latest
